/* joseph css */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {

    color: black;
}

.flip-card-back {
    background-color: #d1eee9;
    color: rgb(70, 65, 65);
    transform: rotateY(180deg);
}

/* joseph css */
/* Dominic css */


/* joseph css */
/* Dominic css */
/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* IMPORT GOOGLE FONTS */
body {
    font-family: Lato;
}

/* .mynav {
    background-color: teal !important;
} */

.banner {
    height: 95vh; /* edited by kolum */
    background: url(../images/ride.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mytext {
    padding-top: 13vh;
    /* font-family: Rye; */
    font-size: 40px;
}

.buttonpad {
    padding-top: 17vh;
}

/* footer by karshe */
.paragraph {
    color: #999;
    line-height: 25px;
}

.ride1 .ride2 .follow .news {
    color: #fff;
}

.footer-top {
    background: teal;
    padding: 40px 0;
    margin-top: 50px;

}

.segment-one>h3 {
    font-family: courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-one>h2 {
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}

.segment-two>h3:before {
    content: "|";
    color: #c65039;
    padding: 10px;
}

.segment-two>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two>ul>li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}

.segment-two>ul>li>a {
    color: #999;
    text-decoration: none;
}

.segment-three>h3 {
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}

.segment-three>h3:before {
    content: "|";
    color: #c65039;
    padding: 10px;
}

.segment-three>a {
    background: #494849;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-three>a>i {
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}

.segment-four>h2 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.segment-four>h2:before {
    content: "|";
    color: #c65039;
    padding-right: 10px;
}

.segment-four>form input[type=submit] {
    background: #c65039;
    border: none;
    /* padding: px 20px; */
    margin-left: px;
    color: #fff;
    text-transform: uppercase;
    float: right;
}
.segment-four>form {
    display: flex;
}

.footer-bottom-text {
    text-align: center;
    background: #000;
    line-height: 75px;
    margin-bottom: 0px;
}
/* kolum start */
.driver_img{
  height: 200px;
  float: left;
  
}
.cont{
  text-align: center;
}
.checked {
    color: orange;
  }
.btn-primary{
    background-color: teal;
}
.btn-primary:hover{
    background-color: rgb(205, 214, 214);
}

/* kolum end */



/* footer ends here */