/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');

/* IMPORT GOOGLE FONTS */
.mynav {
    background-color: teal !important;
}

.banner {
    height: 50vh;
}

.mytext {
    padding-top: 13vh;
    font-family: Rye;
    font-size: 40px;
}

.find {
    height: 42.61vh;
    background-color: teal;
    width: 100%;
}

.buttonpad {
    padding-top: 17vh;
}
/* .ride {
    background: url(../images/book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 42.61vh;
    width: 100%;
} */